<div class="container">
  <h1>Articles</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @articles.each do |article| %>
      <div class="col-6">
        <%= render article %>
      </div>
    <% end %>
  </div>
</div>
